.InputRow {
  margin-top: 15px;
 display: flex;
  justify-content: center;
 
}
.para{
  margin-left: 5px;
}
@media screen and (max-width: 784px) {
  p.para {
    font-size: 10px;
  }
}
@media screen and (max-width: 436px) {
  p.para {
    font-size: 8px;
  }
}

